@model IEnumerable<Curso>

@{
    ViewData["Titulo"] = "Información Curso";
    Layout = "Template_Simple";
}

<h1>@ViewData["Titulo"]</h1>

<strong>Desde la la vista parcial</strong>
<br>
<a class="btn btn-primary" href="/Curso/Create">Nuevo</a>
<br>
<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Id</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @{
                int cont = 1;
            }
            @foreach (var curso in Model)
            {
                <tr>
                    <td>@cont</td>
                    <td>@curso.Nombre</td>
                    <td>@curso.Id</td>
                    <td><a class="btn btn-primary" href="/Curso/Update/@curso.Id">Update</a></td>
                    <td><input class="btn btn-danger" type="submit" value="Delete"></td>
                </tr>
                cont++;
            }
        </tbody>
    </table>

    <p><i>@ViewBag.Fecha</i></p>
</form>